SST40 V4.0.X/build/default/
SSTU_X/.generated_files/
SSTU_X/build/default/production/_ext/
03_DriveData/SST40 V4.0/SST40 V4.0/V4.0/Master/idscomdll.log
SST40 V4.0.X/*.i
SST40 V4.0.X/*.s
SST40 V4.0.X/dist/default/debug/SST40_V4.0.X.debug.elf
SST40 V4.0.X/dist/default/debug/SST40_V4.0.X.debug.map
03_DriveData/SST40 V6.0/SST40 V6.0/V6.0/Master/idscomdll.log
